name: CI Build & Release

on:
  push:
    branches: [ src ]
  workflow_dispatch:   # 可手动触发

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Configure Git identity
        run: |
          git config --global user.email "ci-bot@example.com"
          git config --global user.name "CI Bot"

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/LeavesMC/Leaves.git
          git fetch upstream dev/1.21.10

      - name: Get upstream SHA
        run: |
          UPSTREAM_SHA=$(git rev-parse refs/remotes/upstream/dev/1.21.10)
          SHORT_SHA=$(git rev-parse --short refs/remotes/upstream/dev/1.21.10)
          echo "UPSTREAM_SHA=$UPSTREAM_SHA" >> $GITHUB_ENV
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV
        
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build with Gradle applyAllPatches
        run: ./gradlew applyAllPatches

      - name: Build with Gradle createMojmapLeavesclipJar
        run: ./gradlew createMojmapLeavesclipJar

      - name: Upload server artifact
        uses: actions/upload-artifact@v4
        with:
          name: server
          path: leaves-server/build/libs/leaves-server-*.jar

      - name: Upload leavesclip artifact
        uses: actions/upload-artifact@v4
        with:
          name: leavesclip
          path: leaves-server/build/libs/leaves-leavesclip-*.jar

      - name: Upload bundler artifact
        uses: actions/upload-artifact@v4
        with:
          name: bundler
          path: leaves-server/build/libs/leaves-bundler-*.jar

      - name: Release CI
        uses: softprops/action-gh-release@v1
        with:
          tag_name: upstream-${{ env.SHORT_SHA }}
          release_name: Upstream Build ${{ env.SHORT_SHA }}
          body: |
            This build is based on the upstream commit:
            [${{ env.SHORT_SHA }}](https://github.com/LeavesMC/Leaves/commit/${{ env.SHORT_SHA }})
          files: leaves-server/build/libs/*.jar
