name: CI Build & Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:   # 可手动触发

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git identity
        run: |
          git config --global user.email "ci-bot@example.com"
          git config --global user.name "CI Bot"

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/LeavesMC/Leaves.git
          git fetch upstream dev/1.21.10
          echo "upstream_sha=$(git rev-parse upstream/main)" >> $GITHUB_OUTPUT
        id: upstream
        
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build with Gradle applyAllPatches
        run: ./gradlew applyAllPatches --enable-preview

      - name: Build with Gradle createMojmapLeavesclipJar
        run: ./gradlew createMojmapLeavesclipJar --enable-preview

      - name: Upload server artifact
        uses: actions/upload-artifact@v4
        with:
          name: server
          path: leaves-server/build/libs/leaves-server-*.jar

      - name: Upload leavesclip artifact
        uses: actions/upload-artifact@v4
        with:
          name: leavesclip
          path: leaves-server/build/libs/leaves-leavesclip-*.jar

      - name: Upload bundler artifact
        uses: actions/upload-artifact@v4
        with:
          name: bundler
          path: leaves-server/build/libs/leaves-bundler-*.jar

      - name: Release CI
        uses: softprops/action-gh-release@v1
        with:
          tag_name: upstream-${{ steps.upstream.outputs.upstream_sha }}
          name: Upstream Build ${{ steps.upstream.outputs.upstream_sha }}
          body: |
            This build is based on the upstream commit:
            [${{ steps.upstream.outputs.upstream_sha }}](https://github.com/LeavesMC/Leaves/commit/${{ steps.upstream.outputs.upstream_sha }})
          files: leaves-server/build/libs/*.jar
